/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: lightgray;
}
a:hover {
  color: white;
}
.container-flex {
  display: flex;
  text-align: center;
}
p {
  padding: 0 10px;
  color: gray;
}
.testo-album {
  padding: 0 10px;
  font-size: 25px;
  font-weight: 900;
}
#logo-small {
  display: none;
}
#logo-small > img {
  width: 25px;
}
/* scrollbar custom */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}

/* regole selettive */
.container {
  height: calc(100vh - 120px);
}

/* nav upgrade */
.nav-upgrade {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}
.flex-nav {
  width: 100vw;
  height: 80px;
  line-height: 80px;
  padding: 0 25px 0 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.flex-nav > a > img {
  padding-top: 20px;
  width: 150px;
}
.testo-upgrade a {
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
}
.testo-upgrade:hover {
  transform: scale(1.1, 1.1);
}
/* barra di navigazione */
nav ul {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  height: 65px;
}
nav ul li {
  padding: 0 10px;
}
.barra-verde {
  height: 2px;
  background-color: #adff2f;
  width: 40%;
  margin: 0 auto;
  margin-top: 2px;
  display: none;
}
nav ul li:hover .barra-verde {
  display: block;
}
/* playlist laterale sx*/
.col-playlist {
  background-color: black;
  width: 200px;
  height: calc(100vh - 120px);
  padding: 80px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
.col-playlist .icona-libreria img {
  width: 30px;
  padding-right: 5px;
}
.icona-libreria a {
  display: flex;
  line-height: 30px;
}
.icona-libreria span {
  color: gray;
}
.icona-libreria span:hover {
  color: white;
}
#lista-sx {
  padding: 15px 0;
}
#lista-sx > li:nth-child(2) a {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#icona-plus {
  display: inline-block;
  background-color: #a3a3a3;
  padding: 0 8px;
  margin-right: 10px;
  color: black;
  font-size: 28px;
}
#lista-sx > div > li {
  line-height: 25px;
  font-size: 12px;
}
#col-playlist-giù hr {
  margin: 8px 0;
  color: gray;
}
#col-playlist-giù span {
  color: gray;
}
#col-playlist-giù span:hover {
  color: white;
}
#foto-profilo img {
  display: block;
  width: 15px;
  margin: 3px auto;
}
#foto-profilo {
  background-color: gray;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
}
#nome-utente {
  vertical-align: super;
  font-size: 14px;
}

/* parte centrale laterale dx */
.container {
  display: flex;
}
.corpo-principale {
  background-color: #141922;
  height: calc(100vh - 120px);
  width: calc(100vw - 200px);
  padding-top: 80px;
  overflow-y: auto;
}
main section .box {
  padding: 14px;
  width: calc(100% / 6)
}
main section .box img {
  width: 100%;
}
main section img:hover {
  filter: brightness(0.3);
}
/* barra del player */
.navbar-player {
  background-color: #282828;
  width: 100vw;
  height: 120px;
  display: flex;
  align-items: center;
}
.navbar-player i {
  color: gray;
}
.navbar-player i:hover {
  color: white;
}
/* flex-item di navbar-player */
.player {
  flex-basis: calc(100vw / 3);
  padding: 0 5px;
}
/* div player sx */
.player-sx div, .player > a {
  padding: 0 10px;
}
.player-sx {
  display: flex;
  align-items: center;
}
.player-cx {
  text-align: center;
  justify-content: center;
}
.container-barra {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.player-dx {
  display: flex;
  justify-content: flex-end;
}
#i-play {
  font-size: 35px;
}
#i-play i:hover {
  transform: scale(1.1, 1.1);
}
/* barra grigia del player */
.barra-player {
  height: 5px;
  border-radius: 10px;
  background-color: gray;
  width: 80%;
  margin: 6px 20px;
  align-self: flex-end;
}
.seconda-barra-player {
  position: relative;
  background-color: lightgray;
  height: 100%;
  width: 20%;
  border-radius: 5px 0px 0px 5px;
}
.barra-player:hover .seconda-barra-player, .barra-player-dx:hover .seconda-barra-player {
  background-color: #adff2f;
}
.cerchio-barra {
  position: absolute;
  right: -2px;
  top: -2px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  display: none;
}
.barra-player:hover .cerchio-barra, .barra-player-dx:hover .cerchio-barra {
  display: block;
}
.barra-player-dx {
  height: 5px;
  border-radius: 10px;
  background-color: gray;
  width: 150px;
  margin: 0 10px;
  align-self: center;
}
.navbar-player img {
  width: 50px;
}

/* media query */
/* modalità smartphone xs */
@media all and (max-width: 700px) {
  main section .box {
    width: calc(100% / 2);
  }
  .container-flex {
    flex-wrap: wrap;
  }
  /* nascosta la playlist-bar su e giù più logo */
  .col-playlist-su .icona-libreria strong, .col-playlist-su .icona-libreria span, .col-playlist-su ul, #col-playlist-giù hr, #col-playlist-giù strong, #col-playlist-giù span, .nav-upgrade > .flex-nav > a > img {
    display: none;
  }
  .col-playlist {
    width: 35px;
    padding: 80px 1px 5px 5px;
  }
  .corpo-principale {
    width: calc(100vw - 35px);
  }
  #logo-small {
    display: block;
  }
  .flex-nav {
    padding: 0 25px 0 5px;
  }
  nav ul {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  nav ul li {
    margin-bottom: 20px;
  }
  .barra-player-dx {
    width: 70%;
  }
  .player-sx div, .player > a {
	padding: 0 3px;
  }
  .navbar-player img {
	width: 30px;
  }
  .player-sx div:nth-child(2) {
    font-size: 12px;
  }
  #i-play {
    font-size: 25px;
  }
}

/* modalità smartphone big */
@media all and (min-width: 701px) and (max-width: 829px) {
  main section .box {
    width: calc(100% / 2);
  }
  .container-flex {
    flex-wrap: wrap;
  }
  /* barra volume ristretta */
  .barra-player-dx {
    width: 70%;
  }
}

/* modalità tablet */
@media all and (min-width: 830px) and (max-width: 1159px) {
  main section .box {
    width: calc(100% / 4);
  }
  .container-flex {
    flex-wrap: wrap;
  }
}

/* modalità desktop small */
@media all and (min-width: 1160px) {
  main section .box {
    width: calc(100% / 6);
  }
  .container-flex {
    flex-wrap: wrap;
  }
}


/* test */
.prova-album {
  position: relative;
}
.immagine-volante i {
  font-size: 80%;
}
.immagine-volante {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 900;
  /* background-color: red; */
  width: 50%;
  height: 50%;
  display: none;
}
.prova-album:hover .immagine-volante {
  display: block;
}
